<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Number Guesser</title>
    <style>
        body {
            <%= backgroundColor %>;
        }
        body p{
            font-style: bold;
            font-size: 50;
        }
    </style>
</head>
<body>
<form action="">
    <input type="text" name='guess'>
    <input type="submit" name = "Submit">
</form>
<p>
    <%= guess_output%>
</p>
    
</body>
</html>